a {
  color: #2196F3;
  text-decoration: none; }

.clear {
  clear: both; }

html {
  min-height: 100%; }

body {
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 2px 0px;
  background: #2196F3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 3; }
  header .title {
    width: 150px;
    float: left;
    text-align: center; }
    header .title p a {
      color: #FFF;
      display: block; }
    header .title p:first-child {
      font-size: 24px;
      font-weight: bold;
      line-height: 26px; }
    header .title p:last-child {
      font-size: 14px;
      line-height: 16px; }
  header #menu-btn {
    width: 98px;
    float: right;
    padding: 2px 0px;
    margin: 3px 5px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    header #menu-btn:hover {
      background: #1E88E5;
      cursor: pointer; }
  header .menu {
    position: fixed;
    top: 0px;
    right: -150px;
    width: 150px;
    background: #1E88E5;
    color: #FFF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5); }
    header .menu li {
      width: 150px;
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
      header .menu li a {
        padding: 7px 0px;
        border-top: 1px solid #1E88E5;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        display: block; }
        header .menu li a:hover {
          background: #1976D2; }

#container {
  margin-top: 46px; }

.top-index .firstview img {
  width: 100%;
  display: block; }
.top-index .firstview h1 {
  background: #2196F3;
  color: #FFF;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5); }
.top-index .notifications h2 {
  margin: 5px 0px;
  font-size: 24px;
  font-weight: bold;
  text-align: center; }
.top-index .notifications .notification {
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: #EEEEEE;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .top-index .notifications .notification img {
    width: 100%;
    display: block; }
  .top-index .notifications .notification p {
    text-align: center;
    line-height: 20px; }
  .top-index .notifications .notification .category {
    width: 240px;
    margin: 0px auto;
    border-top: 1px dashed #3e3e3e;
    font-style: italic; }
  .top-index .notifications .notification h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 24px; }
.top-index .history {
  padding: 10px;
  overflow-y: scroll; }
  .top-index .history ul li {
    width: 23%;
    float: left;
    margin: 1%;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .top-index .history ul li:hover {
      cursor: pointer; }
    .top-index .history ul li.all {
      background: #EEEEEE; }
    .top-index .history ul li.open {
      background: #43A047;
      color: #FFF; }
    .top-index .history ul li.report {
      background: #EF6C00;
      color: #FFF; }
    .top-index .history ul li.notice {
      background: #3F51B5;
      color: #FFF; }
  .top-index .history table {
    width: 98%;
    margin: 0px 1%; }
    .top-index .history table tr th, .top-index .history table tr td {
      border-bottom: 3px solid #FFF; }
      .top-index .history table tr th a, .top-index .history table tr td a {
        font-weight: bold; }
    .top-index .history table tr th {
      padding: 10px;
      border-right: 4px solid #FFF;
      text-align: center; }
      .top-index .history table tr th p:first-child {
        font-size: 14px;
        line-height: 16px; }
      .top-index .history table tr th p:last-child {
        font-size: 20px;
        line-height: 22px; }
    .top-index .history table tr.open th {
      background: #43A047;
      color: #FFF; }
    .top-index .history table tr.open td {
      background: #E8F5E9; }
    .top-index .history table tr.report th {
      background: #EF6C00;
      color: #FFF; }
    .top-index .history table tr.report td {
      background: #FFF3E0; }
    .top-index .history table tr.notice th {
      background: #3F51B5;
      color: #FFF; }
    .top-index .history table tr.notice td {
      background: #E8EAF6; }

@media screen and (min-width: 681px) {
  .top-index .notifications {
    width: 300px;
    float: left; }
    .top-index .notifications .notification {
      width: 280px;
      margin: 0px 10px; }

  .history {
    height: 400px;
    padding: 10px;
    margin-left: 300px;
    overflow-y: scroll; }
    .history ul li {
      width: 23%;
      float: left;
      margin: 1%;
      text-align: center;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .history table {
      width: 98%;
      margin: 0px 1%; }
      .history table tr th, .history table tr td {
        border-bottom: 3px solid #FFF; }
      .history table tr th {
        width: 80px;
        padding: 10px;
        border-right: 4px solid #FFF;
        text-align: center; }
        .history table tr th p:first-child {
          font-size: 14px;
          line-height: 16px; }
        .history table tr th p:last-child {
          font-size: 20px;
          line-height: 22px; }
      .history table tr td {
        text-indent: 1em; } }
@media screen and (max-width: 680px) {
  .top-index .notifications {
    width: 100%;
    clear: both; }
    .top-index .notifications .notification {
      max-width: 400px;
      width: 90%;
      margin: 0px auto; }
  .top-index .history {
    max-width: 400px;
    width: 90%;
    height: 200px;
    margin: 0px auto; }
    .top-index .history .history-category li {
      font-size: 14px; }
    .top-index .history table {
      margin-top: 3px; }
      .top-index .history table th {
        width: 50px; }
      .top-index .history table td {
        text-indent: 10px;
        font-size: 14px; } }
@media screen and (max-width: 500px) {
  .top-index .firstview h1 {
    font-size: 22px; } }
.vision {
  padding: 10px; }
  .vision h1 {
    font-size: 30px;
    font-weight: bold; }
  .vision p {
    margin: 5px 0px;
    text-indent: 1em; }

.top-about h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px; }
.top-about h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 3px double #FFF;
  background: #2196F3;
  color: #FFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5); }
.top-about h3 {
  width: 200px;
  padding: 2px;
  margin: 2px;
  border: 1px solid #3e3e3e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
.top-about .about-menu li {
  width: 25%;
  float: left;
  border-radius: 15px 15px 0px 0px;
  background: #2196F3;
  color: #FFF;
  text-align: center; }
  .top-about .about-menu li:hover {
    background: #1976D2;
    cursor: pointer; }
.top-about .about-content .subtitle {
  margin: 5px;
  font-weight: bold; }
.top-about .about-content p {
  padding: 0px 5px;
  text-indent: 1em; }
.top-about .about-content > div {
  display: none; }
  .top-about .about-content > div:first-child {
    display: block; }

.top-report h1 {
  padding: 10px;
  font-size: 30px;
  font-weight: bold; }
.top-report .reports-list li {
  padding: 5px;
  border-top: 1px solid #BBDEFB;
  background: #E3F2FD;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative; }
  .top-report .reports-list li:last-child {
    border-bottom: 1px solid #BBDEFB; }
  .top-report .reports-list li:hover {
    background: #BBDEFB; }
    .top-report .reports-list li:hover a {
      color: #1565C0; }
  .top-report .reports-list li .number {
    font-style: italic;
    text-decoration: underline; }
  .top-report .reports-list li h2 {
    margin: 0px .5em;
    font-size: 1.1em;
    font-weight: bold; }
  .top-report .reports-list li .detail-btn {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 100px;
    padding: 2px 0px;
    border: 1px solid #FFEE58;
    background: #FFF;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: block; }
    .top-report .reports-list li .detail-btn:hover {
      background: #FFF176; }

footer p {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
